div{
   
    animation-name: my-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin-top: 300px;
}

/* .button{
    background-color: pink;
    text-decoration: none;
    color: red;
    border: 1px solid pink;
    height: 50px;
    border-radius: 25px;
    padding: 5em;
    
} */