th,td{
    text-align: left;
    width: 200px;
    height: 30px;
    /* border-bottom: 1px solid #ddd; */
    border-top: 1px solid #ddd;
    
}
table{
    border-collapse: collapse;
}
tr:hover{
    background-color: blue;
    
}
