.square1{
    border: px solid black;
    width: 22px;
    margin-top: 8px;
}

.but{
    background-color: green;
    color: white;
    height: 30px;

}
table,th{
     width: 1100px; 
    margin-top: 20px;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

/* td{ 
    text-align: center;
} */
img{
    height: 50px;
    width: 70px;
    text-align: left;
}
.bo{
    color: blue;
}
.stars {
    color: yellow;
    font-size: 20px;
}
.star{
    color: yellow;
    font-size: 10px;
}
.bu{
    background-color: green;
    color: white;
}
.de{
    background-color: rgb(226, 50, 79);
    color: white;
}
tbody td{
    
    text-align: left;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}